:root {
    /** Font **/
    --fuentePrincipal: 'Red Hat Display', sans-serif;

    /** Primario **/
    --paleBlue: hsl(225, 100%,94%);
    --brightBlue: hsl(245, 75%, 52%);

    /** Neutral **/
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    --blanco: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    
    background-image: url(../img/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
    background-color: var(--paleBlue);
}

@media (min-width: 375px) {
    body {
        background-image: url(../img/pattern-background-desktop.svg);
    }
    
}

/** Globales **/

.contenedor {
    margin: 0 auto;
    width: min(90%, 45rem);
    margin-top: 10.2rem;
    margin-bottom: 10.2rem;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-family: var(--fuentePrincipal);
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}
.boton:hover {
    cursor: pointer;
}

/** Utilidades **/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}
.sombra {
    box-shadow: 0px 32px 34px -8px hsl(224deg 23% 55% / 48%);
    border-radius: 2rem;
}

/* Header */

.header {
    background-image: url(../img/illustration-hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem 2rem 0 0;
    height: 22rem;
}

/* Informacion */

.informacion {
    background-color:  var(--blanco);
    border-radius: 0 0 2rem 2rem;
    padding: 3.5rem 0;
}
@media (min-width: 768px) {
    .informacion {
        padding: 4.5rem 0;
    }
}

.informacion--encabezado {
    color: var(--darkBlue);
    font-weight: 900;
}
.informacion--texto {
    color: var(--desaturatedBlue);
    padding: 2.5rem 5.5rem;
}
@media (min-width: 768px) {
    .informacion--texto {
        padding: 2.5rem 7rem;
    }
}

/* Plan */
.plan {
    width: min(85%, 35.4rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--veryPaleBlue);
    margin: auto;
    border-radius: 1rem;
    padding: 2.5rem 0;
}
.plan--opcion{
    display: flex;
    gap: 2rem;
}
.plan__detalle--texto {
    color: var(--darkBlue);
    font-weight: 900;
}
.plan__detalle--precio {
    color: var(--desaturatedBlue);

}
.plan__boton {
    color: var(--brightBlue);
    font-weight: 700;
    text-decoration: underline;
}
.plan__boton:hover {
    text-decoration: none;
    color: rgb(118, 108, 241);
}

/*Botones*/

.boton--compra {
    display: block;
    background-color: var(--brightBlue);
    color: var(--veryPaleBlue);
    padding: 1.5rem;
    margin: auto;
    margin-top: 3.2rem;
    font-weight: 700;
    border-radius: 1rem;
    width: min(85%, 35.4rem);
    text-align: center;
    border: none;
}
.boton--compra:hover {
    background-color: rgb(118, 108, 241);
}

.boton--cancel {
    display: block;
    color: var(--desaturatedBlue);
    margin-top: 3.6rem;
    font-weight: 700;
    text-align: center;
}
.boton--cancel:hover {
    color: var(--darkBlue);
    font-weight: 900;
}

